body {
    margin-top: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.site-title {
    color: #ffffff;
    background-color: #ffffff;
}

.container {
    width: 1200px;
    background-color: transparent;
    height: 2000px;
    -ms-flex-item-align: center;
    align-self: center;
    margin: 0px auto;
    padding: 0 auto;
}

.header {
    background-color: white;
    height: auto;
}

.container-menu {
    height: 60px;
    background-color: #03989E;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}

.container-logo {
    width: 100%;
    height: inherit;
    background-color: azure;
    text-align: center;
}

.site-title {
    margin: 0;
    padding: 0.36em 0;
}

.container-imagen {
    background-image: url('./bg.png');
    height: 240px;
    /* margin-bottom: 20px; */
}

.nav-list {
    padding: 0.25em 0;
    list-style-type: none;
    text-align: end;
    width: 100%
}

.nav-element {
    padding: 1em 15px;
    display: inline-block;
    text-decoration: none;
    color: #3e3e3e;
}

.nav-element:hover {
    text-decoration: underline;
    font-weight: bold;
}

.image-text {
    margin: 0;
    padding: 9% 0;
    text-align: center;
}

.main-menu {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

.main-menu__item {
    line-height: 3;
}

.main-menu__link {
    text-decoration: none;
    font-size: 1em;
    color: white;
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
}

.main-menu__link:hover {
    text-decoration: unone;
    font-weight: bold;
    font-size: 18px;
    color: whitesmoke;
}